<div id="wrapper-topbar" class="wrapper-topbar bg-black text-white">
    <p class="m-0 fw-bold order-lg-2 me-auto">
        <a href="javascript://" class="d-md-none text-white text-decoration-none" tabindex="2">
            <span class="d-md-none">Application Name</span>
        </a>
        <span class="d-none d-md-inline">@ViewData["Title"]</span>
    </p>
    <button id="sidebar-button"
            class="btn btn-sm btn-black sidebar-button"
            aria-haspop="true"
            aria-controls="sidebar"
            tabindex="3">
        <span class="icon fas fa-fw fa-bars" aria-hidden="true"></span>
        <span class="visually-hidden">Toggle side navigation</span>
    </button>
</div>
