@{
    ViewData["Title"] = "Dashboard";
}

<div class="page-title">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="page-title-text">
                    <span class="icon fas fa-house" aria-hidden="true"></span>
                    <span>@ViewData["Title"]</span>
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-lg-3 order-lg-2 d-print-none">
        <div class="container-fluid sticky-lg-top">
            <section class="card">
                <div class="card-body">
                    <details open class="page-contents" id="toc">
                        <summary class="summary">
                            <h2 class="h6 d-inline" id="on-this-page">On this page:</h2>
                        </summary>
                        <nav aria-labelledby="on-this-page">
                            <div class="toc">
                                <ol>
                                    <li>
                                        <a href="#heading1">Heading 1</a>
                                    </li>
                                    <li>
                                        <a href="#heading2">Heading 2</a>
                                    </li>
                                    <li>
                                        <a href="#heading3">Heading 3</a>
                                    </li>
                                    <li>
                                        <a href="#heading4">Heading 4</a>
                                    </li>
                                    <li>
                                        <a href="#heading5">Heading 5</a>
                                    </li>
                                    <li>
                                        <a href="#heading7">Heading 6</a>
                                    </li>
                                    <li>
                                        <a href="#heading7">Heading 7</a>
                                    </li>
                                </ol>
                            </div>
                        </nav>
                    </details>
                </div>
            </section>
        </div>
    </div>
    <div class="col-12 col-lg order-lg-1">
        <div class="content-container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <h2 class="h3" id="heading1">Heading 1</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce luctus pellentesque magna, nec laoreet enim tincidunt et. Vestibulum convallis sapien urna, et tristique nisi aliquam non. Maecenas dictum turpis ut nunc aliquam, eu bibendum tortor feugiat. Vivamus risus lacus, dignissim eget nulla ultricies, varius vestibulum ante. In tempor consequat faucibus. Quisque consequat dui nulla, ac blandit diam commodo eget. Aliquam venenatis, arcu sit amet egestas tincidunt, dolor risus eleifend enim, ut viverra dui leo sed leo. Mauris in fringilla elit. Nulla viverra non nunc sit amet rhoncus. Fusce massa arcu, volutpat finibus feugiat sit amet, eleifend ac enim.</p>
                        <h2 class="h3" id="heading2">Heading 2</h2>
                        <p>Vestibulum mattis venenatis lacinia. Pellentesque hendrerit facilisis dui, scelerisque vulputate nibh aliquam sed. Nam accumsan sem vel turpis finibus, at consequat libero auctor. In aliquet scelerisque lacus ac aliquam. Donec congue vehicula erat vel semper. Sed vulputate nisi eu condimentum interdum. Maecenas sem dui, rutrum in aliquet porttitor, feugiat ac eros. Donec pretium vitae augue quis tincidunt. Aenean porttitor mi ut mauris mattis, ut vehicula mauris iaculis.</p>
                        <h2 class="h3" id="heading3">Heading 3</h2>
                        <p>Nullam vitae nulla ut turpis mollis pellentesque non id metus. Etiam rutrum tincidunt lectus, elementum aliquam leo. Donec iaculis suscipit purus tincidunt facilisis. Donec interdum metus vel bibendum varius. Vestibulum porta eleifend semper. Nam cursus mollis tortor, ac bibendum neque rutrum vel. Nulla porta vestibulum sapien, dignissim luctus arcu lacinia quis. Suspendisse congue metus mauris, vitae dapibus quam vehicula a. Aliquam erat volutpat. Donec ultrices tempus elit, vel commodo leo iaculis sed.</p>
                        <h2 class="h3" id="heading4">Heading 4</h2>
                        <p>Donec consectetur turpis ex, at laoreet quam sodales ac. Vestibulum ornare aliquet nisi id tempor. Quisque porttitor sit amet ex non molestie. Nulla posuere tellus vel aliquam sollicitudin. Aenean quis lacus hendrerit, luctus nisl et, rutrum sem. Ut egestas dapibus nunc, vitae cursus metus volutpat quis. Proin luctus ante sed rhoncus lobortis. Aenean eu odio lorem. Nullam et dolor velit. Mauris blandit quis enim a rutrum. Proin dictum eget libero vel vestibulum. In vehicula mattis ipsum, et mattis tortor convallis vitae. Aenean convallis nisl in porttitor fermentum. Donec maximus vulputate massa sit amet dictum.</p>
                        <h2 class="h3" id="heading5">Heading 5</h2>
                        <p>Aliquam nunc est, consequat in neque quis, pretium luctus lorem. Sed ac lacus id diam lobortis semper sed a sem. Aliquam pellentesque sapien diam, a condimentum tortor accumsan sit amet. Duis et ligula non felis faucibus scelerisque. Donec vitae velit lectus. Curabitur felis nulla, semper aliquam blandit non, semper in nulla. Curabitur aliquam fringilla egestas. Nullam in dui at nulla volutpat vehicula non at magna.</p>
                        <h2 class="h3" id="heading6">Heading 6</h2>
                        <p>Proin et magna faucibus, pellentesque enim ac, feugiat dolor. Nam consectetur mi dolor, in facilisis augue venenatis sed. Maecenas et libero ut diam mattis semper at non massa. In ornare nisi diam, et luctus purus volutpat non. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc eget massa luctus, bibendum ante a, elementum ex. Sed orci nibh, cursus a volutpat in, malesuada et elit. Sed ullamcorper vel ex eu faucibus. Phasellus consequat congue arcu, pharetra consequat dui ullamcorper vel. Quisque ornare mattis felis sit amet dapibus. Cras scelerisque enim bibendum eros placerat, vel ultricies leo vehicula. In quis venenatis leo, in tempor lectus.</p>
                        <h2 class="h3" id="heading7">Heading 7</h2>
                        <p>Phasellus sit amet mauris gravida, pulvinar erat sed, aliquam nibh. Aliquam euismod magna a nisl euismod, id elementum ipsum lacinia. Vestibulum sodales dictum commodo. Phasellus pellentesque scelerisque sem, nec dignissim orci. Nunc placerat, nibh at tempus pellentesque, ipsum nulla tincidunt dolor, id dictum ligula nisi sit amet purus. In justo ipsum, rhoncus ut neque a, finibus ullamcorper dolor. Phasellus felis odio, tempus ac orci in, pulvinar sagittis nibh. Pellentesque convallis et enim non iaculis. Etiam volutpat pellentesque est, ac sodales libero semper quis. Donec sollicitudin felis vitae lorem mattis finibus. Cras nec nunc sit amet nunc mollis viverra. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam commodo congue eros sed blandit. In hac habitasse platea dictumst. Aliquam luctus nunc et venenatis pretium. Curabitur mattis, lorem at dictum mattis, tellus lorem lobortis nibh, a congue neque lorem a orci.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
